In [29]:
#Importing library
import pandas as pd

In [30]:
#Loading dataset
data = pd.read_csv("Frequency Table.csv")

In [31]:
#Printing first 5 rows
data.head()

   Student  Overall Marks Gender    Subject
0    Anish             97   Male    English
1  Rishabh             83   Male    English
2     Ajay             78   Male    Physics
3  Abhinav             86   Male  Chemistry
4   Anurag             91   Male    English

## Frequency Table for Categorical Variables

In [35]:
#Generating frequency table
freq_data = data['Subject'].value_counts()

In [36]:
print(freq_data)

Chemistry    36
Physics      35
English      29
Name: Subject, dtype: int64